# java binaries
*.war
*.ear
*.class
bin/
/*/bin

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# vim swap files
*.swp

# IDEA:
.idea/
server/incore-v2.ipr
server/incore-v2.iws
**.iml
**.iml

# IDEA - generated artifacts
**/build/
**/out/

# Apple metadata
**/.DS_Store

# local gradle files
**/.gradle/
server/local.properties

.vagrant/
