# Project structure related
.classpath
.project
.settings
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
*.iml
*.ipr
*.iws
.idea/

# Build related
bin/**
build
.gradle
*.class

# Package Files #
*.jar
*.war
*.ear

# Log Files
*.log

# sbt specific
scopes/*
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies