/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

.highcharts-container {
  width: 100% !important;
  height: 100% !important;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
}

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
  padding: 12px;
}

h2 {
  color: $vin-blue;
}

.savings {
  color: $vin-green;
}

.loss {
  color: $vin-red;
}

input.small {
  width: 46px;
}

.center {
  text-align: center;
}

.main {
  padding: 16px;
  flex: 1;
}
